@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;

}

body{
    background-color: rgb(76, 24, 125);
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color:bisque;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
    width: 400px;
    height: 350px;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    border: 5px solid black;
}

.header{
    background-color: bisque;
    border-bottom: 1px solid #d5d2d2;
    padding: 20px 30px;
}


.form{
    padding: 30px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
}

.submit{
    background-color: #8e44ad;
    box-shadow: 0 2px 5px black;
    border-radius: 4px;
    color: #edd0d0;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
}



.firstName{
    margin-bottom: 20px;
}

.email{
    margin-bottom: 20px;
}

.priority{
    margin-top: 20px;
    margin-bottom: 20px;
}